<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/form/222" method="POST">
        <p>账户</p>
        <input type="text" name="username">
        <P>密码</P>
        <input type="password" name="password"><br>
        <p>确认密码</p>
        <input type="password" name="password2"><br>
        <input type="submit" value="提交">
    </form>
    <br>
    <script></script>
</body>
</html>